*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html{
    font-size: 16px;
}
.title{
    font-size: 36px;
    font-weight: 900;
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 400px;
}
.item{
    width: 200px;
    height: 100px;
}
#img-one{
    background-color: blue;  
}
#img-two{
    background-color: red;
}
#img-three{
    background-color: yellow;
}
#img-four{
    background-color: green;
}
main{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.items{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 52px;
    justify-content: center;
}
p{
    margin-top: 100px;
}
/* li{
    display: flex;
    flex-direction: column;
} */
